@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

$font-family: 'Roboto', 'sans-serif';

%f-light { font-family: $font-family; font-weight: 300; }
%f-normal { font-family: $font-family; font-weight: 400; }
%f-medium { font-family: $font-family; font-weight: 500; }