* { @include box-sizing(border-box); }

body {
  @extend %f-light;
	background-color: #fff;
  font-size: 14px;
  line-height: 19px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.25em;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}