.card {
	@include column(1/4, 0, 4, 0);
	background: #fff;
	border-radius: 3px;
	margin-bottom: 2em;
}

.card__photo {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
}

.card__content {
	padding: 20px;

  h4 {
    @extend %f-medium;
    font-size: em(22);
  }
}