.card
	.card__photo
		img src="https://d23ibjsass4npx.cloudfront.net//images/cities/cards/000/000/007/portrait/antwerpen.jpg?1404466032"
	.card__content
		h4 = link_to city.name, city
		p = city.content
		= iconic_tag('envelope-open', 'md')