<form>
  <label><input type="radio" name="mode" value="grouped" checked> Aantallen</label>
  <label><input type="radio" name="mode" value="stacked"> Bedragen</label>
	<a href="#" class="test">Test</a>
</form>
