//= require normalize-rails

@import 'bourbon';
@import 'jeet/index';

// @import 'mixins/*';
@import 'modules/*';
@import 'blocks/*';
// @import 'pages/*';

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

// .y.axis line {
//   stroke: #fff;
//   stroke-opacity: 1;
//   shape-rendering: crispEdges;
// }

.y {

	line {
    stroke: #ccc;
    stroke-width: 1;
	}
}
.y.axis path {
  display: none;
}
.axis path,
.axis line {
	fill: none;
	stroke: #444;
	/* stroke-width: .5; */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  opacity: 1;
  shape-rendering: crispEdges;
}

.x.axis path {
}
rect {
	opacity: .6;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
.x .tick text {display: none;}

.legend {
	padding: 5px;
	font: 12px sans-serif;
	background: yellow;
	box-shadow: 2px 2px 1px #888;
}
g.legend {
	opacity: 1.6;
	&:hover {cursor: pointer;}
}